/* Reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

/* CSS */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.planet {
    display: flex;
    flex-direction: column;
}

.planet h2 {
    color: #f2f2f2;
    font-size: 4em;
    margin-bottom: 40px;
    font-weight: 600;
}

.planet .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* EARTH */
.planet-Earth {
    position: relative;
    min-width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}

.planet-Earth .loader {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        ;
    }

    100% {
        transform: rotate(360deg);
    }
}

.planet-Earth .loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, .4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.planet-Earth .loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 999;
    box-shadow: 0 0 10px #00fff9,
        0 0 20px #00fff9,
        0 0 30px #00fff9,
        0 0 40px #00fff9,
        0 0 50px #00fff9,
        0 0 60px #00fff9,
        0 0 70px #00fff9,
        0 0 80px #00fff9,
        0 0 90px #00fff9,
        0 0 100px #00fff9;
}

.planet-Earth span {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #182357;
    border-radius: 50%;
}

.earth {
    position: absolute;
    width: 340px;
    height: 340px;
    background: url('./images/earh.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4, 0 0 120px #03a9f4;
    animation: animateEarth 20s linear infinite;
}

@keyframes animateEarth {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 162.5%;
    }
}


/* MARS */

.planet-Mars {
    position: relative;
    min-width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #190703;
}

.planet-Mars .loader {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        ;
    }

    100% {
        transform: rotate(360deg);
    }
}

.planet-Mars .loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(255, 87, 54, .4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.planet-Mars .loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #ff5722;
    border-radius: 50%;
    z-index: 999;
    box-shadow: 0 0 10px #ff5722,
        0 0 20px #ff5722,
        0 0 30px #ff5722,
        0 0 40px #ff5722,
        0 0 50px #ff5722,
        0 0 60px #ff5722,
        0 0 70px #ff5722,
        0 0 80px #ff5722,
        0 0 90px #ff5722,
        0 0 100px #ff5722;
}

.planet-Mars span {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #190703;
    border-radius: 50%;
}

.mars {
    position: absolute;
    width: 340px;
    height: 340px;
    background: url('./images/mars.png');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #ff5722, 0 0 120px #ff5722;
    animation: animateMars 6s linear infinite;
}

@keyframes animateMars {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -345px;
    }
}